# HyperNova Environment Configuration
HYPERNOVA_API_KEY=dev-key
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ETHEREUM_RPC_URL=https://eth.llamarpc.com
BASE_RPC_URL=https://mainnet.base.org
VIRTUALS_HUB_ADDRESS=0xVirtualsHubAddress
KEEPER_INTERVAL=3600
